.ecosystem-content:before,
.ecosystem-img:before {
  background: linear-gradient(180deg, #73e4f5 0%, #73f59b 100%);
  height: 100%;
  width: 100%;
  filter: blur(90px);
  position: absolute;
  content: "";
  top: 0;
  left: 0;
}
